@import "_variables";

@mixin a_set {
  display: block;
  width: 100%;
  height: 100%;
}

@mixin clearfix {
  content: "";
  display: block;
  clear: both;
}

@mixin hoverline {
  content: "";
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $font-color-black;
  transition: all 0s;
  transform: scaleX(0);
}

@mixin hoverline-after {
  transform: scaleX(1);
}

@mixin dot {
  content: "";
  padding: 6px;
  background: url(/images/dot.png) no-repeat 3px center;
}
