$font-color-main: #444;
$font-color-gray: #888;
$font-color-deepgray: #666;
$font-color-black: #111;
$font-color-softblack: #333;
$font-color-red: #ec1f60;
$font-color-cyan: #01a6b4;
$bg-red: #f22867;
$bg-white: #fff;
$bg-gray: #f0f1f3;
$bg-green: #cadb2a;
$number-font: verdana, sans-serif;
$main-font: Lato, sans-serif;
$category-font: Malgun Gothic, sans-serif;
$category-h3-font: "Noto Sans KR", sans-serif;
$remain-font: "Roboto", sans-serif;
$border-main: 1px solid #d9d9d9;
$border-main-color: #d9d9d9;
$border-cate: 1px solid #e8e8e8;
$border-gnb: 1px solid #e5e5e5;
$bg-navi: #e5e5e5;
$font-LLLlarge: 30px;
$font-LLlarge: 28px;
$font-Llarge: 22px;
$font-large: 18px;
$font-Mmedium: 16px;
$font-medium: 14px;
$font-regular: 13px;
$font-small: 12px;
$pc-size: 1400px;
