@import "_mixin", "_variables";

.blind {
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  position: absolute;
  margin: -1px;
  overflow: hidden;
}

.wrap {
  width: 1142px;
  padding: 0 132px 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

*[class^="sprite_"] {
  background: url(/images/spr_common.png) no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

[class*="cate_ic"] {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  margin-right: 8px;
  vertical-align: middle;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 16px auto;
    background-position: 50% 50%;
  }
}

strong {
  font-weight: 700;
}

.relative {
  position: relative;
}

.cyan {
  color: $font-color-cyan;
}

.underline {
  text-decoration: underline;
}

// main button
.main_btn {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 50%;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  margin-top: -20px;
  background: none;
  z-index: 2;

  .pagination {
    position: relative;
    display: none;
    min-width: 40px;
    width: auto;
    line-height: 28px;
    text-align: center;
    color: #fff;
  }
  i {
    position: absolute;
    top: 8px;
    // left: 8px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10em;
    background: #000;
    opacity: 0.2;
    z-index: -1;
    transition: 0.2s ease-in-out;
  }
  &.prev {
    left: 10px;
    .pagination {
      padding: 0 10px 0 34px;
    }
    .sprite_prev_white {
      background-position: -200px -300px;
      left: 10px;
    }
  }
  &.next {
    right: 10px;
    .pagination {
      padding: 0 34px 0 10px;
    }
    .sprite_next_white {
      left: auto;
      right: 8px;
      background-position: -225px -300px;
    }
  }
  &:hover {
    color: $font-color-black;
    cursor: pointer;

    &::before {
      opacity: 0.5;
    }

    .pagination {
      display: inline-block;
    }
  }
}

// basic button
.basic_btn {
  display: inline-block;
  position: relative;
  overflow: hidden;
  min-width: 2.57143em;
  height: 2.57143em;
  line-height: 2.42857em;
  padding: 0 0.85714em;
  border: 1px solid #c9c9c9;
  background-color: #fff;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  letter-spacing: -0.02em;
  transition: 0.15s ease-in-out;
  font-size: 14px;
  font-size: 0.875rem;
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -12px 0 0 -12px;
    opacity: 0.8;
  }
  &.prev {
    .sprite_prev {
      background-position: -100px -300px;
    }
  }
  &.next {
    .sprite_next {
      background-position: -125px -300px;
    }
  }
  &.small {
    min-width: 2.30769em;
    height: 2.30769em;
    line-height: 2.15385em;
    font-size: 13px;
    font-size: 0.8125rem;
  }
  &.large {
    min-width: 2.66667em;
    height: 2.66667em;
    line-height: 2.53333em;
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

// basic btn box
.ctrl_wrap {
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  .basic_btn {
    float: left;

    &:first-child {
      margin: 0 -1px 0 0;
    }
  }
  .pagination {
    float: left;
    display: block;
    min-width: 40px;
    width: auto;
    height: 30px;
    line-height: 29px;
    padding: 0 9px;
    text-align: center;
  }
  &::after {
    @include clearfix;
  }
}

// product item
.product_item {
  display: block;
  letter-spacing: -0.04em;
  vertical-align: top;
  transition: 0.2s ease-in-out;
  .product_img {
    display: block;
    position: relative;
    background-color: #f4f4f4;
    img {
      width: 100%;
      vertical-align: top;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 1px solid rgba(153, 153, 153, 0.1);
      }
    }
  }
  .product_info {
    padding-top: 0.71429em;
    .product_name {
      overflow: hidden;
      height: 2.71429em;
      line-height: 1.36;
      margin-bottom: 6px;
    }
    .price_info {
      position: relative;
      white-space: nowrap;
      .price_discount {
        margin-right: 5px;
        color: $bg-red;
        font-weight: bold;
        display: inline-block;
        height: 14px;
        line-height: 14px;
        font-size: $font-small;
        font-family: $number-font;
      }
      .price {
        .price_upper {
          color: #aaa;
          font-weight: 400;
          letter-spacing: 0;
          display: inline-block;
          height: 14px;
          line-height: 14px;
          font-size: $font-small;
          font-family: $number-font;
        }
        .set_price {
          display: block;
          min-height: 21px;
          line-height: 1.2;
          padding: 17px 0 13px 0;
          box-sizing: content-box;
          color: $font-color-black;
          strong {
            font-size: 17px;
            font-family: $number-font;
            font-weight: bold;
            letter-spacing: -1px;
          }
        }
      }
    }
    .user {
      position: relative;
      min-height: 24px;
      line-height: 24px;
      padding-bottom: 0.57143em;
      border-bottom: 1px solid #eaeaea;
      box-sizing: content-box;
      .user_comment {
        background: none;
        color: $font-color-deepgray;
      }
      .user_wish {
        display: inline-block;
        width: 24px;
        height: 24px;
        top: 0;
        right: 0;
        background-position: -50px -275px;
        position: absolute;
        background-image: url(/images/spr_common.png);
        background-repeat: no-repeat;
        z-index: 2;
      }
    }
    .advantage {
      overflow: hidden;
      padding-top: 8px;

      div {
        line-height: 1.5rem;
        max-height: calc(1.5rem * 3);
        // margin-left: -11px;
        span {
          display: inline-block;

          &:not(:first-child)::before {
            @include dot;
          }
        }
      }
    }
  }
}

// swiper button set
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
